@import url(https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);
body {
  margin: 0; }

p {
  color: #990000;
  font-family: "Tiempos"; }

@font-face {
  font-family: 'Tiempos';
  src: url("/fonts/TiemposHeadlineWeb-Regular.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/TiemposHeadlineWeb-Regular.woff") format("woff");
  /* Pretty Modern Browsers */ }

.row:before, nav:before, .row:after, nav:after {
  content: "";
  display: table; }

.row:after, nav:after {
  clear: both; }

.full {
  width: 100%; }

.half {
  width: 50%; }

.third {
  width: 33.333%; }

.two-thirds {
  width: 66.666%; }

.quarter {
  width: 25%; }

.three-quarters {
  width: 75%; }

.dev {
  background-color: rgba(0, 0, 0, 0.2); }

.container {
  margin: 0 auto; }

@media only screen and (min-width: 320px) {
  .container {
    width: 300px; }
  .half,
  .quarter {
    width: 100%; } }

@media only screen and (min-width: 375px) {
  .container {
    width: 360px; } }

@media only screen and (min-width: 480px) {
  .container {
    width: 460px; }
  .half,
  .quarter {
    width: 50%; } }

@media only screen and (min-width: 640px) {
  .container {
    width: 620px; } }

@media only screen and (min-width: 768px) {
  .container {
    width: 760px; } }

@media only screen and (min-width: 1024px) {
  .container {
    width: 960px; } }

@media only screen and (min-width: 1024px) {
  .container {
    width: 1000px; } }

@media only screen and (min-width: 1200px) {
  .container {
    width: 1260px; } }

@media only screen and (min-width: 1440px) {
  .container {
    width: 1400px; } }

.row {
  border: 1px solid red; }
  .row .col {
    display: block;
    float: left;
    border: 1px solid green;
    box-sizing: border-box; }
    .row .col.pad-x-small {
      padding: 10px; }
    .row .col.pad-small {
      padding: 20px; }
    .row .col.pad-medium {
      padding: 30px; }
    .row .col.pad-large {
      padding: 40px; }

.recipe-card {
  background-color: #0f7595;
  display: block;
  float: left; }
  .recipe-card img {
    background-color: #333333;
    width: 100%; }
  .recipe-card h3 {
    text-transform: capitalize;
    margin-top: -2em; }
  .recipe-card ul.recipe-icons li {
    display: block;
    float: left;
    padding-right: 20px; }

ul.recipe-tiles {
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -moz-margin-start: 0;
  padding-left: 0; }
  ul.recipe-tiles li {
    width: 25%;
    min-height: 200px;
    border: 1px solid red;
    background-color: #00AA00;
    display: block;
    float: left; }
    ul.recipe-tiles li.featured {
      width: 50%;
      background-color: #4a0263; }

nav {
  background-color: #ececec; }
  nav img {
    display: inline-block;
    padding: 20px 20px 20px 0; }
  nav ul {
    height: 7px;
    display: inline-block;
    vertical-align: top; }
    nav ul li {
      display: block;
      float: left;
      padding: 30px 20px 20px 0; }
      nav ul li a {
        color: #000000;
        text-decoration: none; }
