.recipe-card{
  background-color: #0f7595;
  display: block;
  float:left;
  img{background-color: #333333;}
  h3{ text-transform: capitalize;}
  ul.recipe-icons{
    li{display:block; float:left; padding-right:$small;}
  }
}

ul.recipe-tiles
{
  li{
    width:25%;
    min-height: 200px;
    border:1px solid red;
    background-color: #00AA00;
    display:block; float:left;
    &.featured{width:50%; background-color: #4a0263;}
  }
}