.recipe-card{
  background-color: #0f7595;
  display: block;
  float:left;
  img{background-color: #333333;}
  h3{ text-transform: capitalize;}
  ul.recipe-icons{
    li{display:block; float:left; padding-right:$small;}
  }
}