nav{background-color:$black;
  @extend %clearfix;
  ul{height:110px;
    li{display: block; float: left; padding: $small $small $small 0;
      //replace colour with variable
      a{color:white;}
    }
  }
}