nav{ box-sizing: border-box; border-bottom:1px solid #ececec; font-family: $roboto;
  .nav-top-navigation{
    background-color: black; width:100%; height:40px;
  ul{float:right; margin:0;
    li{ padding:0.65em; list-style-type: none; display: block; float: left;
      &:first-child{ a{color:$grey-accent;}}
      &:nth-child(2){background-color: $green;
            a{color:$white;}}
      a{ display:block; text-decoration: none;}
    }
  }
  }
  img.logo{display:inline-block; padding: $small; width:$logo-width; float:left; }
  @extend %clearfix;
  ul.nav-main-nav-items{
    @include ul-start-space(0);
    margin-top:20px;
    display:inline-block; vertical-align: top; width:calc(100% - 195px);
    li{display: block; float: left; padding: $medium  0 $small $small ;
      &:nth-child(-n+5){max-width:80px; text-align: center;}
      //replace colours with variables
      a{color:$black; text-decoration: none;  font-weight: 300;}
      &:last-child{float:right;
        input{border:none; border-bottom:1px solid $grey-accent; width:115px; padding:.2em;}
        span{font-family:$icon-font; color:$grey-accent;}
      }
    }
  }
  div.nav-main-nav-full-search{
    position: absolute; background-color: $white; display:block; width:100%; top:40px; left:100%; height:110px; display:none;
    input{height:100px; background-color: transparent; border:none;  width:100%; font-size:5em; color:#ececec; }
    .search-close{position: absolute; right: 0; top:0; padding:0.21em; font-size: 1em;}
  }
  ul.nav-mobile-menu{
    @include ul-start-space(0);
    li{list-style-type: none; display:block; float:left; width:$third; text-align: center;
      &.icon{font-size: 5em;}
      &.nav-search-item-open{text-align:right;}
      img{padding:1em; width:calc(100% - 2em); max-height:4em;}
    a{text-decoration: none; color: $grey-accent;}
    }
    ul.mobile-nav-items{
      @include ul-start-space(0);
      li{width:100%; padding:1em; box-sizing: border-box;}
    }
  }

  .search-input-holder{height:4em; background-color: $grey-accent; position: relative; display: block; width:100%; clear:both;
  input{width:100%; height:100%; font-size:3em; color:#ececec;
    //move this
    &:focus{outline-color:#ececec;}
  }
  }
}

@include small-mobile{
  .burger-menu-button{ display:block;}
}

@include small-tablet{
  .burger-menu-button{ display:none;}
  nav ul.main-nav-items li:nth-child(-n+5){max-width:220px; }
}
