
//define lengths
.full{width:100%;}
.half{width:50%;}
.third{width:33.333%;}
.two-thirds{width:66.666%;}
.quarter{width:25%;}
.three-quarters{width:75%;}

//dev bg show for testing/dev
.dev {background-color: rgba(0,0,0,0.2);}

//row and column settings
.row{
  @extend %clearfix;
  //this need to be removed
  border:1px solid red;
  .col{
    display:block; float:left; border:1px solid green; box-sizing: border-box;
    &.pad-small{
      padding:$small;
    }
    &.pad-medium{
      padding:$medium;
    }
    &.pad-large{
      padding:$large;
    }
  }

}




