//colours
$red:#990000;
$pink:pink;
$black: #000000;

//grid extenders
$x-small:10px;
$small:20px;
$medium:30px;
$large:40px;

//typographic variables
$roboto: 'Roboto', sans-serif;
$Tiempos: 'Tiempos';
$icon-font:'icon-font-1';