//colours
$red:#990000;
$pink:pink;
$black: #000000;
$grey-accent:#bfbfbf;
$white:#ffffff;
$green:#90c92b;

//grid extenders
$x-small:10px;
$small:20px;
$medium:30px;
$large:40px;


$logo-width:142px;
//typographic variables
$roboto: 'Roboto', sans-serif;
$Tiempos: 'Tiempos';
$icon-font:'icon-font-1';

//fractions
$third:33.333%;